body
{
    background-color: aquamarine;
}

h1{
    color: rgb(13, 0, 255);
    background-color: rgb(239, 255, 18);
}

#show_sketch{
    float: right;
}

p{
    padding-top: 10px;
    font-size: 25px;
}

canvas{
    border: 5px solid rgb(96, 218, 235);
    border-radius: 20px;
    margin-top: 50px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 40px chartreuse;}
    to{box-shadow: 1px 1px 40px fuchsia;}
}